<h1 class="title">Test Page</h1>

<hr/>
<h2 class="subtitle">Actions</h2>
<button class="button" ng-click="$ctrl.shutdown()">Shutdown</button>
<br/><br/>
<button class="button" ng-click="$ctrl.sleep()">Sleep</button>
<br/><br/>
<button class="button" ng-click="$ctrl.fail()">Fail</button>

<hr/>
<h2 class="subtitle">Toasts</h2>
<button class="button" ng-click="$ctrl.toastInfo()">Info</button>
<br/><br/>
<button class="button" ng-click="$ctrl.toastError()">Error</button>


<hr/>
<h2 class="subtitle">Translations</h2>
<ul>
	<li>Title: {{'GEN.TITLE'|translate}}</li>
</ul>

