/* ============== */
/* === HELPER === */
/* ============== */

.tku-hidden {
	display: none;
}

.tku-hand {
	cursor: pointer;
}

.tku-breakall {
	word-break: break-word;
}

.tku-breakno {
	white-space: nowrap;
}

.tku-breakflowno {
	overflow: hidden;
	white-space: nowrap;
}

/* ======================== */
/* === BULMA EXTENSIONS === */
/* ======================== */
.tkb-form-center-fix {
	align-self: center;
	margin-bottom: 0em !important;
	margin-right: 0.75em;
}

.tkb-titleline {
	border-bottom-color: #363636;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

/* ============= */
/* === UTILS === */
/* ============= */

table.tk-table-icons th:first-child,
table.tk-table-icons td:first-child {
	width: 32px;
}

table.tk-table-icons2 th:first-child,
table.tk-table-icons2 td:first-child {
	width: 52px;
}

table.tk-table-actions th:last-child,
table.tk-table-actions td:last-child {
	text-align: right;
}

table.tk-table-middle td,
table.tk-table-middle th {
	vertical-align: middle;
}


/* ================== */
/* === COMPONENTS === */
/* ================== */

tk-toasts {
	position: fixed;
	bottom: 0px;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	z-index: 5000;
}

tk-toast {
	margin-bottom: 15px;
	max-width: 100%;
}

tk-login-form {
  margin: 50px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tk-login-form > .message {
  width: 300px;
}

@media (max-width: 500px) {
  tk-login-form > .message {
    width: 100%;
  }
}
